<%= form_for(parking_event) do |f| %>
  <% if parking_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking_event.errors.count, "error") %> prohibited this parking_event from being saved:</h2>

      <ul>
      <% parking_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parkrequest %>
    <%= f.datetime_select :parkrequest %>
  </div>

  <div class="field">
    <%= f.label :parkallowed %>
    <%= f.datetime_select :parkallowed %>
  </div>

  <div class="field">
    <%= f.label :parkcompleted %>
    <%= f.datetime_select :parkcompleted %>
  </div>

  <div class="field">
    <%= f.label :getbikerequest %>
    <%= f.datetime_select :getbikerequest %>
  </div>

  <div class="field">
    <%= f.label :getbikecompleted %>
    <%= f.datetime_select :getbikecompleted %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
