<p id="notice"><%= notice %></p>

<h1>Parking Events</h1>

<table>
  <thead>
    <tr>
      <th>Parkrequest</th>
      <th>Parkallowed</th>
      <th>Parkcompleted</th>
      <th>Getbikerequest</th>

      <th>Getbikecompleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_events.each do |parking_event| %>
      <tr>
        <td><%= parking_event.parkrequest %></td>
        <td><%= parking_event.parkallowed %></td>
        <td><%= parking_event.parkcompleted %></td>
        <td><%= parking_event.getbikerequest %></td>
        <td><%= parking_event.getbikecompleted %></td>
        <td><%= link_to 'Show', parking_event %></td>
        <td><%= link_to 'Edit', edit_parking_event_path(parking_event) %></td>
        <td><%= link_to 'Destroy', parking_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking Event', new_parking_event_path %>
