<h1>Benvenuto su BeMiSecure </h1>
<p id="notice"><%=notice%></p>
<p>Find me in app/views/home/welcome.html.erb</p>
<%if !current_user.nil? %>
<%= "benvenuto/a "+current_user.name%>
<p><%=link_to'Le stazioni di BeMiSecure',stations_path%></p>
<p> <%=link_to('Esci',destroy_user_session_path,:method=>:delete) %></p>
<% else %>
<p><%=link_to'Accedi',new_user_session_path %></p>
<p><%=link_to'Regisrati',new_user_registration_path %></p>
<%end%>